<div class="loginnew v-transition">
    <div class="logo">
        <img src="/static/img/load_logo.892eb35.png"></div>
    <div class="inputbox">
        <div class="username">
            <input class="uid" type="text" placeholder="手机号/用户名">
            <span></span>
        </div>
        <div class="psw">
            <input class="pswin" type="password" placeholder="密码">
            <span></span>
        </div>
    </div>
    <div class="btn button button-fill button-danger">登&nbsp;&nbsp;&nbsp;&nbsp;录</div>
    <div class="zw">
        <i>注册新账号</i>
        <em>忘记密码？</em>
    </div>
    
</div>